.path-mod-collaborate__meetingstatus_times {
    margin: 1em 0;
}

.path-mod-collaborate__meetingstatus{
    margin-bottom: 1em;
}

.path-mod-collaborate .activity-title {
    background-image: url([[pix:mod_collaborate|icon]]);
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.5em;
}

.modtype_collaborate .activityinstance a + span.label {
    margin-left: 0.5em;
}

.path-mod-collaborate .collab-recording-list {
    list-style: none;
}

.path-mod-collaborate .collab-recording-list h4 {
    margin-top:1em;
}

.path-mod-collaborate .collab-recording-list-item span {
    font-size: smaller;
    margin-left: 1em;
}

#page-admin-setting-modsettingcollaborate fieldset.soapapisettings {
    display:none;
}

#page-admin-setting-modsettingcollaborate .api-connection-status {
    margin-top:1em;
}

#page-admin-setting-modsettingcollaborate .api-connection-status .spinner:after {
    content: ' ';
    display:inline-block;
    height:1.2em;
    width:1.2em;
    background-image:url([[pix:i/loading]]);
    background-size: 1.2em 1.2em;
    margin-left:1.2em;
}

#page-admin-setting-modsettingcollaborate .api-connection-status .api_diag_btn {
    float: right;
}


#page-admin-setting-modsettingcollaborate .api-connection-status .spinner .api_diag_btn {
    display: none;
}

#api_diag .noticetemplate {
    display: none;
}

#api_diag .noticetemplate_problem, #api_diag .noticetemplate_success, #api_diag .noticetemplate_message {
    display: none;
}

.path-mod-collaborate .copyablelink {
    margin-top: 1em;
}

.path-mod-collaborate .copyablelink input {
    width: calc(100% - 2.5em);;
}

.path-mod-collaborate .copyablelink a {
    display: none;
}

.path-mod-collaborate .copyablelink button {
    display: none;
}

.path-mod-collaborate .copyablelink.enabled button {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0;
    border: 0;
    margin: 0 0 2px 0;
    cursor: copy;
    background: #7700C2;
    vertical-align: middle;
}

/**
* Align copy button for Collaborate guest link on IE 11.
*/
@media all and (-ms-high-contrast:none) {
    .path-mod-collaborate .copyablelink.enabled button {
        bottom: 0.2em;
    }
}

.path-mod-collaborate .copyablelink div {
    margin-top: 1em;
    display: none;
    text-align: right;
}

.path-mod-collaborate .copyablelink.enabled label,
.path-mod-collaborate .copyablelink.copied div {
    display: block;
}

.path-mod-collaborate .copyablelink.enabled button span.copyicon {
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 1em;
    top: calc(50% - .5em);
    left: calc(50% - .5em);
    filter: brightness(100);
    -webkit-filter: brightness(100);
    background: url([[pix:core|t/copy]]) no-repeat center center;
    background-size: 100%;
}

.path-mod-collaborate .tab-pane ul {
    text-align: left;
    overflow: auto;
}

.mod-collaborate-delete, .mod-collaborate-download{
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin: 0 0.5em;
    -webkit-background-size: cover;
    background-size: cover;
}

.mod-collaborate-delete {
    background-image: url([[pix:core|t/delete]]);
}

.mod-collaborate-download {
    background-image: url([[pix:core|t/download]]);
}

.mod-collaborate-group-selector input[type="submit"] {
    margin-top: 1em;
}

.path-mod-collaborate .groupcard {
    margin: 0.5em 3% 0.5em 0;
    border-radius: 0.3em;
    box-shadow: 0 1px 2px 0 #eceeef;
    position: relative;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    text-align: center;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #eee;
}

@media (min-width: 768px){
    .path-mod-collaborate .groupcard {
        width: 30%;
        float: left;
        height:100px;
    }
}

.path-mod-collaborate .container {
    margin-bottom: 2em;
}

/** Icon color for the activities. **/
li.activity.modtype_collaborate .activityiconcontainer,
.modchoosercontainer div[data-internal="collaborate"] .modicon_collaborate {
    background-color: #ce46b3;
}

li.activity.modtype_collaborate .activityiconcontainer img.activityicon,
.modchoosercontainer div[data-internal="collaborate"] .modicon_collaborate img.activityicon {
    filter: brightness(0) invert(1);
}