/*
* Collaborate styles for Snap theme.
*/

/*
* Collaborate instructor settings.
*/
#page-mod-collaborate-mod .snap-form-advanced #id_instructorsettings .checkbox {
    padding-left: 1rem;
}
#page-mod-collaborate-mod .snap-form-advanced #id_instructorsettings [type='checkbox'] {
    position: relative;
    bottom: 0.15rem;
}

.mod-collaborate-dimmed-option {
    color: #d5d5d5;
    background-color: #f1f1f1;
}
