<form class="copyablelink">
    <label for="{{id}}">{{label}}</label>
    <button title="{{# str }} copylink, mod_collaborate {{/ str }}"><span></span></button>
    <input id="{{id}}" value="{{{url}}}" readonly />
    <sub>
        {{# str }} copiedlink, mod_collaborate {{/ str }}
    </sub>
</form>
